{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<h2 class="form-card-title" style="margin-bottom: 20px;">Notas com a tag "{{ tag.name }}"</h2>

<div class="card-container">
  {% for note in notes %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{ note.title }}</h3>
    </div>
    <div class="card-content">
      <p>{{ note.content }}</p>
    </div>
    <span class="tag-badge">#{{ tag.name }}</span>
  </div>
  {% endfor %}
</div>

<a class="btn btn-secondary" href="{% url 'index' %}" style="display:inline-block; margin-top:24px; text-decoration:none;">Voltar</a>
{% endblock %}